@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic');

// General

body {
  display: flex;
  justify-content: center;
  font-family: 'Carrois Gothic', sans-serif;
}

.container {
  display: inline-block;
}

h1 {
  margin: 50px auto;
}

p {
  margin-bottom: 50px;
}

#notice {
  color: #ef0216;
  font-weight: 700;
  margin-top: 50px;
}

// Form

.form-container {
  display: inline-block;
}
